# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
# Your code here
import pandas as pd

# Load the data from the provided CSV link
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Display current column names
print("Original Column Names:")
print(df.columns)

# Clean and standardize column names
df.columns = df.columns.str.lower()  # Convert to lowercase
df.columns = df.columns.str.replace(' ', '_')  # Replace white spaces with underscores
df.columns = df.columns.str.replace('st', 'state')  # Replace 'st' with 'state'

# Display updated column names
print("\nUpdated Column Names:")
print(df.columns)

Original Column Names:
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

Updated Column Names:
Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [6]:
import pandas as pd

# Load the data from the provided CSV link
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Display unique values in the columns to identify inconsistencies
print("Unique Values in GENDER:")
print(df['GENDER'].unique())

print("\nUnique Values in ST:")
print(df['ST'].unique())

print("\nUnique Values in Education:")
print(df['Education'].unique())

print("\nUnique Values in Customer Lifetime Value:")
print(df['Customer Lifetime Value'].unique())

print("\nUnique Values in Vehicle Class:")
print(df['Vehicle Class'].unique())

# Clean and standardize values in the specified columns
df['GENDER'] = df['GENDER'].str.upper().replace({'FEMAL': 'F', 'MALE': 'M', 'FEMALE': 'F'})
df['ST'] = df['ST'].replace({'AZ': 'Arizona', 'CALI': 'California', 'WA': 'Washington'})
df['Education'] = df['Education'].replace({'BACHELORS': 'BACHELOR'})
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.rstrip('%').astype('float') / 100.0
df['Vehicle Class'] = df['Vehicle Class'].replace({'SPORTS CAR': 'LUXURY', 'LUXURY SUV': 'LUXURY', 'LUXURY CAR': 'LUXURY'})

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df.head())

Unique Values in GENDER:
[nan 'F' 'M' 'Femal' 'Male' 'female']

Unique Values in ST:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

Unique Values in Education:
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Unique Values in Customer Lifetime Value:
[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']

Unique Values in Vehicle Class:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

Updated DataFrame:
  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                6979.5359
2  AI49188      Nevada      F              Bachelor               12887.4317
3  WW63253  California      M              Bachelor                7645.8618
4  GA49547  Washington      M  High School or Below                5363.0765

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [7]:
# Your code here
import pandas as pd

# Load the data from the provided CSV link
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Display unique values in the 'Customer Lifetime Value' column to identify inconsistencies
print("Unique Values in Customer Lifetime Value:")
print(df['Customer Lifetime Value'].unique())

# Display unique values in the 'Number of Open Complaints' column to identify inconsistencies
print("\nUnique Values in Number of Open Complaints:")
print(df['Number of Open Complaints'].unique())

# Clean and standardize values in the 'Customer Lifetime Value' column
df['Customer Lifetime Value'] = pd.to_numeric(df['Customer Lifetime Value'], errors='coerce')

# Clean and standardize values in the 'Number of Open Complaints' column
df['Number of Open Complaints'] = df['Number of Open Complaints'].str.split('/').str[1].astype(float)

# Display the updated data types of the DataFrame
print("\nUpdated DataFrame:")
print(df.dtypes)

Unique Values in Customer Lifetime Value:
[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']

Unique Values in Number of Open Complaints:
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

Updated DataFrame:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints    float64
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using `applymap()`.

In [9]:
import pandas as pd

# Load the data from the provided CSV link
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Display the data types of each column
print("Data Types Before Conversion:")
print(df.dtypes)

# Convert only numeric columns to integers
numeric_columns = df.select_dtypes(include='number').columns
df[numeric_columns] = df[numeric_columns].astype(int, errors='ignore')

# Display the data types after conversion
print("\nData Types After Conversion:")
print(df.dtypes)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df.head())

Data Types Before Conversion:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

Data Types After Conversion:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

Updated DataFrame:
  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [10]:
# Your code here
import pandas as pd

# Load the data from the provided CSV link
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Display the number of duplicate rows before handling duplicates
print("Number of Duplicate Rows Before Handling Duplicates:", df.duplicated().sum())

# Choose a strategy for handling duplicates
# For simplicity, let's keep only the first occurrence of each duplicated row

# Handle duplicates
df.drop_duplicates(keep='first', inplace=True)

# Verify that duplicates have been handled
print("Number of Duplicate Rows After Handling Duplicates:", df.duplicated().sum())

# Save the cleaned dataset to a new CSV file
cleaned_file_path = "cleaned_data.csv"
df.to_csv(cleaned_file_path, index=False)
print("\nCleaned dataset saved to:", cleaned_file_path)

Number of Duplicate Rows Before Handling Duplicates: 2936
Number of Duplicate Rows After Handling Duplicates: 0

Cleaned dataset saved to: cleaned_data.csv

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [12]:
# Your code here
import pandas as pd



# Assuming your data is in a CSV file, adjust the file path accordingly
file_path = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

# Load the data into a DataFrame
df = pd.read_csv(file_path)


# Step 1: Review the statistics for total claim amount and customer lifetime value
claim_amount_stats = df['Total Claim Amount'].describe()
customer_lifetime_value_stats = df['Customer Lifetime Value'].describe()

# Print the statistics
print("Total Claim Amount Statistics:")
print(claim_amount_stats)

print("\nCustomer Lifetime Value Statistics:")
print(customer_lifetime_value_stats)

# Step 2: Identify customers with a high policy claim amount and a low customer lifetime value
claim_amount_threshold = df['Total Claim Amount'].quantile(0.75)
lifetime_value_threshold = df['Customer Lifetime Value'].quantile(0.25)

high_claim_low_lifetime_df = df[(df['Total Claim Amount'] > claim_amount_threshold) &
                                (df['Customer Lifetime Value'] < lifetime_value_threshold)]

# Step 3: Calculate summary statistics for the selected data
selected_data_stats = high_claim_low_lifetime_df[['Total Claim Amount', 'customer lifetime value']].describe()

# Print the summary statistics for the selected data
print("\nSummary Statistics for High Claim and Low Lifetime Value Data:")
print(selected_data_stats)

       Total Claim Amount  Customer Lifetime Value
count                 0.0                      0.0
mean                  NaN                      NaN
std                   NaN                      NaN
min                   NaN                      NaN
25%                   NaN                      NaN
50%                   NaN                      NaN
75%                   NaN                      NaN
max                   NaN                      NaN
Total Claim Amount Statistics:
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

Customer Lifetime Value Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Customer Lifetime Value, dtype: float64

Summary Statistics for High Claim and Low Lifetime Value Data:
       Total Claim Amount  Customer Lifetime Value
count                 0.0                      0.0
mean                  NaN                      NaN
std                   NaN                      NaN
min                   NaN                      NaN
25%                   NaN                      NaN
50%                   NaN                      NaN
75%                   NaN                      NaN
max                   NaN                      NaN